spring:
  application:
    name: booking-service
  server:
    port: 8083
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:booking;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
#          issuer-uri: http://keycloak:8080/realms/angul-ar
#          issuer-uri: http://localhost:8080/realms/angul-ar
          issuer-uri: http://host.docker.internal:8080/realms/angul-ar

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG